<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"></meta>
	<title th:text="'Hello, ' + ${nom} + '!'" ></title>
	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
	<link th:href="@{~/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"></link>
	<link th:href="@{~/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"></link>
</head>
<body>
	<nav>
		<div class="nav-wrapper">
			<div class="col s12">
				<a th:href="'/cycles/'+ ${id}" class="breadcrumb" th:text="${nom}" ></a>
			</div>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br /> <br/>
			<ul class="collection with-header" id="niveauxCollections">
				<li class="collection-header"><h4>Niveaux</h4></li>
			</ul>
			<br /> <br/>

		</div>
	</div>

	<footer class="page-footer orange">
		<div class="footer-copyright">
			<div class="container">
				Made by Cedric Jacquet
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script th:src="@{~/js/materialize.js}"></script>
	<script th:src="@{~/js/init.js}"></script>
	<script th:inline="javascript">
/*<![CDATA[*/

    var cycleNom = [[${nom}]];
    var cycleId = [[${id}]];

/*]]>*/
</script>
	<script th:src="@{~/js/cycles.js}"></script>

</body>
</html>